div#rotator {
	width: 450px;
	height: 300px;
	border: 1px solid black;
	background: #aaa;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

div#rotatorElement {
	position: absolute;
}

div#rotatorElement h4 {
	position: absolute;
	top: 180px;
	text-align: center;
}

div#rotatorElement p {
	position: absolute;
	top: 200px;
	text-align: center;
}